<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kinshuu.news_bucket">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_news_bucket"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_news_bucket"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".detailnews" android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>